* {
  margin: 0;
  padding: 0;
}

@mixin square($size: 10px) {
  width: $size;
  height: $size;
}

@mixin colored-button($color: #fff, $bg: #333, $border: #333) {
  border-radius: 5px;
  border: 2px solid $border;
  background: $bg;
  color: $color;
}

$new-defaults: (color: blue, border: yellow);

nav {
  ul {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  a {
    @include colored-button($new-defaults...);
    @include square(30px);
    text-transform: uppercase;
    display: inline-block;

    padding: {
      top: 20px;
      bottom: 5px;
    }

    font: {
      size: 12px;
      weight: bold;
      family: arial;
    }
  }
}

// p {
//   @include colored-button(green);
//   @include square(50px);
// }

div%another-placeholder {
  &::after {
    content: "it's div"
  }
}

p%placeh {
  @include square(150px);
  background: #333;
  color: white;
}

.extended-container {
  @extend %placeh;
  @extend %another-placeholder;

  font-size: 20px;

  &:hover {
    background: darken(#333, 50%);
  }
}

@mixin user-icon($icon, $width, $height) {
  width: $width;
  height: $height;
  background: url(../img/#{$icon}/#{$width}-#{$height}.png);
}

.small-icon {
  @include user-icon(user, 24px, 24px);
}

.big-icon {
  @include user-icon(user, 128px, 128px);
}

@import "_extra";
